.app-wrapper {
    margin: 0 auto;
    display: grid;
    width: 1200px;

    grid-template-areas:
"h h"
"n c";

    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    /*grid-gap: 10rem;*/
}

.header {
    grid-area: h;
    background-color: #a4efe2;
}

.header img {
    width: 50px;
}

.nav {
    grid-area: n;
    background-color: #efc6cd;
}

.content {
    grid-area: c;
    background-color: #0095ff;
}

